.datepicker {
  position: relative;
}

.datepicker__input {
  padding-left: 24px;

  &:focus + .datepicker__icon,
  &:active + .datepicker__icon {
    color: $verde;
  }
}

.datepicker__icon {
  color: $gris8;
  left: -2px;
  position: absolute;
  top: 10px;
}

.datepicker-backdrop {
  background: transparentize(darken($verde-opaco, 20%), .2);
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.datepicker-cal {
  @extend .sombra-media;
  background: $verde;
  overflow: hidden;
  padding-bottom: 5px;
  position: fixed;
  right: 40%;
  top: 30%;
  width: 280px;
  z-index: 10;
}

.datepicker-cal__titulo {
  @extend %sans;
  @extend .text--center;
  align-items: center;
  color: $blanco;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  padding: 30px 10px;
}

.datepicker-cal__headers {
  background: $kiwi-pastel;
  display: flex;
}

.datepicker-cal__dias {
  background: $grise;
  color: $negro4;
  display: flex;
  flex-wrap: wrap;
}

.datepicker-cal__headers__elem,
.datepicker-cal__dia {
  @extend .text--center;
  @extend %sans;
  font-size: .8em;
  height: 40px;
  line-height: 32px;
  padding: 5px;
  width: 40px;
}

.datepicker-cal__dia {
  border-radius: 45px;
  cursor: pointer;

  &:hover {
    @extend .text--naranja;
    @extend .text--bold;
  }
}

.datepicker-cal__dia--hoy {
  background: $kiwi-pastel;
}

.datepicker-cal__dia--otro {
  color: $grisc;
}

.datepicker-cal__dia--active {
  background: $naranja-pastel;
  color: $naranja-vivo;
}

.datepicker__icon--deshabilitado {
  pointer-events: none;
}
