<div class="datepicker">
  <input class="form__input datepicker__input"
  ng-model-options="{debounce: 800}"
  ui-mask="99/99/9999"
  model-view-value="true"
  ng-model="dpik.seleccion"
  ng-change="dpik.modelo = dpik.modelo.seleccionar(dpik.seleccion); dpik.actualizar(dpik.seleccion)"
  ng-disabled="ngDisabled">
  <i class="fa fa-fw fa-calendar datepicker__icon" ng-click="dpik.mostrar = !dpik.mostrar" ng-class="{'datepicker__icon--deshabilitado': ngDisabled}"></i>
  <div class="datepicker-backdrop" ng-if="dpik.mostrar"></div>
  <div class="datepicker-cal"  ng-if="dpik.mostrar">
    <div class="datepicker-cal__titulo">
      <i class="fa fa-fw fa-chevron-left clickable" ng-click="dpik.modelo = dpik.modelo.retroceder() "></i>
      <span class="text--capitalize">{{dpik.modelo.mesActual()}}</span>
      <i class="fa fa-fw fa-chevron-right clickable" ng-click="dpik.modelo = dpik.modelo.avanzar()"></i>
    </div>
    <div class="datepicker-cal__cal">
      <div class="datepicker-cal__headers">
        <div class="datepicker-cal__headers__elem">Do</div>
        <div class="datepicker-cal__headers__elem">Lu</div>
        <div class="datepicker-cal__headers__elem">Ma</div>
        <div class="datepicker-cal__headers__elem">Mi</div>
        <div class="datepicker-cal__headers__elem">Ju</div>
        <div class="datepicker-cal__headers__elem">Vi</div>
        <div class="datepicker-cal__headers__elem">Sa</div>
      </div>
      <div class="datepicker-cal__dias">
        <div class="datepicker-cal__dia {{dia.clases}}"
        ng-repeat="dia in dpik.modelo.dias track by $index"
        ng-click="dpik.modelo = dpik.modelo.seleccionar(dia.fecha); dpik.actualizar(dia.fecha)">{{dia.dia}}</div>
      </div>
    </div>
  </div>
</div>
