.fondo--lila  {
  background: $lila;
}

.fondo--morado  {
  background: $morado;
}

.fondo--indigo  {
  background: $indigo;
}

.fondo--azul {
  background: $azul;
}

.fondo--celeste {
  background: $celeste;
}

.fondo--cyan {
  background: $cyan;
}

.fondo--turquesa {
  background: $turquesa;
}

.fondo--verde {
  background: $verde;
}

.fondo--kiwi {
  background: $kiwi;
}

.fondo--lima {
  background: $lima;
}

.fondo--amarillo {
  background: $amarillo;
}

.fondo--ambar {
  background: $ambar;
}

.fondo--naranja {
  background: $naranja;
}

.fondo--tomate {
  background: $tomate;
}

.fondo--rojo {
  background: $rojo;
}

.fondo--rosado {
  background: $rosado;
}

.fondo--negro {
  background: $negro;
}

.fondo--negro2 {
  background: $negro2;
}

.fondo--negro4 {
  background: $negro4;
}

.fondo--gris6 {
  background: $gris6;
}

.fondo--gris8 {
  background: $gris8;
}

.fondo--grisa {
  background: $grisa;
}

.fondo--grisc {
  background: $grisc;
}

.fondo--grisd {
  background: $grisd;
}

.fondo--grise {
  background: $grise;
}

.fondo--blanco {
  background: $blanco;
}
