@import "forms/common";
@import "forms/checkbox";
@import "forms/radios";
@import "forms/switch";

.form {
  width: 100%;
}

.form__group {
  margin: .3em 0;
  padding: .3em 0;
}

.form__label,
.form__input,
.form__error-message {
  @extend %sans;
}

.form__label {
  color: $gris8;
  font-size: .75em;
}

.form__input {
  background: $blanco;
  border: 0;
  border-bottom: 1px solid $grisa;
  color: $negro4;
  font-size: 1em;
  padding: .5em 0;
  resize: none;
  width: 100%;

  &:autofill {
    background-color: transparent !important;
  }

  &:focus,
  &:active {
    border: 0;
    border-bottom: 2px solid $cyan-vivo;
    box-shadow: inset 0 -3px 4px -2px transparentize($cyan-vivo, .5), 0 3px 4px -2px transparentize($cyan-vivo, .5);
    outline-color: transparent;
  }

  &:disabled {
    border-bottom: 1px dashed $grisa;
    color: $grisa;
    cursor: not-allowed;

    &:focus,
    &:active {
      outline-color: transparent;
    }
  }
}

.form__group--error {
  .form__label {
    @extend .animated;
    @extend .bounce;
    @extend .infinite;
    animation-duration: 1.3s !important;
    color: $tomate-vivo;
    display: block;

    &::before {
      @extend %font-awesome;
      content: "\f06a";
      padding-right: .5em;
    }
  }

  .form__input {
    box-shadow: inset 0 -2px 0 $tomate-vivo;
  }
}

.form__error-message {
  color: $tomate-vivo;
  font-size: .9em;
  text-align: center;
}

.form__group--inline {
  align-items: baseline;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.form__input-group {
  display: flex;

  .boton {
    border-radius: 0;
    box-shadow: 0 0 0;

    &:first-child {
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
    }
  }

  .form__input-group__addon {
    background: transparent;
    border-bottom: 1px solid $grisa;
    color: $gris8;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    width: 10%;
  }
}
