.loading-bar,
.loading-bar-spinner {
  pointer-events: none;
  transition: 350ms linear all;
}

.loading-bar__bar {
  background: $cyan;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  transition: width 350ms;
  width: 100%;
}

.loading-bar__peg {
  border-radius: 100%;
  box-shadow: $cyan-vivo 1px 0 6px 1px;
  height: 3px;
  opacity: .45;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}


.loading-bar__spinner {
  color: $cyan-vivo;
  display: block;
  left: 10px;
  position: fixed;
  top: 10px;
  z-index: 6;
}
