@import "https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif";

%sans {
  font-family: "Noto Sans", sans-serif;
}

%serif {
  font-family: "Noto Serif", serif;
}

%font-awesome {
  font-family: "fontawesome";
}

%headers {
  @extend %serif;
  color: $negro4;
  font-weight: normal;
  margin: .5em 0;
}

.h1 {
  @extend %headers;
  font-size: 1.8em;
  @media (min-width: $reflex-md) {
    font-size: 2.8em;
  }
}

.h2 {
  @extend %headers;
  font-size: 1.5em;
  @media (min-width: $reflex-md) {
    font-size: 2.4em;
  }
}

.h3 {
  @extend %headers;
  font-size: 1.3em;
  @media (min-width: $reflex-md) {
    font-size: 1.8em;
  }
}

.h4 {
  @extend %headers;
  font-size: 1.15em;
  @media (min-width: $reflex-md) {
    font-size: 1.4em;
  }
}

.h5 {
  @extend %headers;
  font-size: 1em;
  @media (min-width: $reflex-md) {
    font-size: 1em;
  }
}

.h6 {
  @extend %headers;
  font-size: .8em;
  font-weight: normal;
  @media (min-width: $reflex-md) {
    font-size: 1em;
  }
}

code {
  @extend .fondo--negro2;
  @extend .text--center;
  @extend .text--amarillo;
  padding: 3px;
}

.text {
  @extend %sans;
  color: $negro4;
}

.text--bold {
  font-weight: bold;
}

.text--italic {
  font-style: italic;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--justify {
  text-align: justify;
}

.text--underline {
  text-decoration: underline;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--capitalize {
  text-transform: capitalize;
}

.text--big {
  font-size: larger;
}

.text--small {
  font-size: smaller;
}

.text--extra-big {
  font-size: xx-large;
}

.text--extra-small {
  font-size: xx-small;
}

.text--lila {
  color: $lila;
}

.text--morado {
  color: $morado;
}

.text--indigo {
  color: $indigo;
}

.text--azul {
  color: $azul;
}

.text--celeste {
  color: $celeste;
}

.text--cyan {
  color: $cyan;
}

.text--turquesa {
  color: $turquesa;
}

.text--verde {
  color: $verde;
}

.text--kiwi {
  color: $kiwi;
}

.text--lima {
  color: $lima;
}

.text--amarillo {
  color: $amarillo;
}

.text--ambar {
  color: $ambar;
}

.text--naranja {
  color: $naranja;
}

.text--tomate {
  color: $tomate;
}

.text--rojo {
  color: $rojo;
}

.text--rosado {
  color: $rosado;
}

.text--negro {
  color: $negro;
}

.text--negro2 {
  color: $negro2;
}

.text--negro4 {
  color: $negro4;
}

.text--gris6 {
  color: $gris6;
}

.text--gris8 {
  color: $gris8;
}

.text--grisa {
  color: $grisa;
}

.text--grisc {
  color: $grisc;
}

.text--grisd {
  color: $grisd;
}

.text--grise {
  color: $grise;
}

.text--blanco {
  color: $blanco;
}

.badge {
  @extend %sans;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  margin-left: 1em;
  min-width: 10px;
  padding: 3px 7px;
  padding-left: 1em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &::before {
    background-color: inherit;
    background-image: none;
    content: "";
    height: 13px;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transition: none;
    width: 13px;
  }

  &::after {
    background-color: $blanco;
    border-radius: 500rem;
    box-shadow: 0 -1px 1px 0 $sombra1;
    content: "";
    height: .5em;
    left: -.25em;
    margin-top: -.25em;
    position: absolute;
    top: 50%;
    width: .5em;
  }
}

.badge--lila {
  @extend .fondo--lila;
  color: $blanco;
}

.badge--morado {
  @extend .fondo--morado;
  color: $blanco;
}

.badge--indigo {
  @extend .fondo--indigo;
  color: $blanco;
}

.badge--azul {
  @extend .fondo--azul;
  color: $blanco;
}

.badge--celeste {
  @extend .fondo--celeste;
  color: $blanco;
}

.badge--cyan {
  @extend .fondo--cyan;
  color: $blanco;
}

.badge--turquesa {
  @extend .fondo--turquesa;
  color: $blanco;
}

.badge--verde {
  @extend .fondo--verde;
  color: $blanco;
}

.badge--kiwi {
  @extend .fondo--kiwi;
  color: $negro;
}

.badge--lima {
  @extend .fondo--lima;
  color: $negro;
}

.badge--amarillo {
  @extend .fondo--amarillo;
  color: $negro;
}

.badge--ambar {
  @extend .fondo--ambar;
  color: $negro;
}

.badge--naranja {
  @extend .fondo--naranja;
  color: $negro;
}

.badge--tomate {
  @extend .fondo--tomate;
  color: $blanco;
}

.badge--rojo {
  @extend .fondo--rojo;
  color: $blanco;
}

.badge--rosado {
  @extend .fondo--rosado;
  color: $blanco;
}

.badge--negro {
  @extend .fondo--negro;
  color: $blanco;
}

.badge--negro2 {
  @extend .fondo--negro2;
  color: $blanco;
}

.badge--negro4 {
  @extend .fondo--negro4;
  color: $blanco;
}

.badge--gris6 {
  @extend .fondo--gris6;
  color: $blanco;
}

.badge--gris8 {
  @extend .fondo--gris8;
  color: $blanco;
}
