<div>
  <select ng-model="opcion" ng-options="{{listaSimple ? 'opc for opc in lista' : 'opc._id as opc[atributo] for opc in lista'}}" class="form__input" id="{{id}}" name="{{name}}" ng-change="setearModelo()" ng-disabled="!lista || lista.length === 0 || ngDisabled" ng-required="ngRequired">
    <option value="">{{texto}}</option>
  </select>
</div>
