@media print {
  .boleta__entrada {
    font-size: 15px;
    padding-bottom: 100px;
    visibility: visible;
    width: 288px;
  }

  .titulo__boleta {
    font-size: 30px;
    padding-bottom: 10px;
    text-decoration: underline;
  }

  .subtitulo__boleta {
    font-size: 25px;
    padding-bottom: 5px;
    text-decoration: underline;
  }

  .subgrupo__boleta {
    padding-bottom: 5px;
  }

  .categoria__boleta {
    font-size: 18px;
  }

  .imagen__boleta,
  img {
    width: 288px;
  }

  p {
    font-size: 14px;
  }
}

@media screen {
  .boleta__entrada {
    display: none;
  }
}
