@media print {
  .layout__bar,
  .panel__options,
  .panel--invisible,
  .fa {
    display: none;
  }
}

.reporte__dato {
  @extend %sans;
  border-bottom: 1px solid $grisa;
  color: $negro4;
  font-size: 1em;
}

hr {
  border: 0;
  border-top: 1px solid $grisc;
}
