<section class="backdrop">
  <div class="modal">
    <div class="modal__header">
      <h1 class="modal__header__titulo">Titulo</h1>
    </div>
    <div class="modal__body">
      <p>Esto es el cuerpo</p>
    </div>
    <div class="modal__footer">
      <button type="button" name="button" class="boton boton--rosado"
      ng-click="prueba.cerrar()">
        <i class="fa fa-fw fa-ban"></i>
        <span>Cerrar</span>
      </button>
    </div>
  </div>
</section>
