<section class="login">
  <div class="panel login__body">
    <div class="text--center">
      <img src="/recursos/imagenes/Ciris-logo.png" alt="Ciris">
    </div>
      <h1 class="h1 text--center"><i class="fa fa-fw fa-chain-broken text--verde"></i> <span class="text--verde">404</span> - Recurso no encontrado.</h1>
      <p class="text text--center">¡Vaya! por alguna razón no hemos podido encontrar lo que está buscando.</p>
    <div class="text--center">
      <button class="boton boton--naranja" ng-click="nfc.volver()">
        <i class="fa fa-fw fa-reply"></i>
        Regresar
      </button>
      <button class="boton boton--verde" ng-click="nfc.volverMain()">
        <i class="fa fa-fw fa-reply"></i>
        Regresar al menú principal
      </button>
    </div>
  </div>
</section>
