$ancho-menu: 100px;
$ancho-menu-movil: 35px;
$padding-actions: $ancho-menu / 2;
$padding-actions-movil: $ancho-menu-movil / 2;

%colorgraph-vertical {
  &::after {
    background-image: $gradient-vivo-vertical;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
  }
}

.layout {
  height: 100%;
  width: 100%;
}

.layout__actions {
  @extend .sombra;
  @extend .text--center;
  background: $grise;
  height: 51px;
  padding-left: $padding-actions-movil;
  padding-top: 8px;
  position: fixed;
  width: 100%;
  z-index: 3;

  @media (min-width: $reflex-md ) {
    padding-left: $padding-actions;
  }

  div {
    display: inline-block;
  }
}

@mixin nth($color) {
  .fa {
    color: $color;
  }

  .menu-principal__hijos__title {
    color: $color;
  }

  &:hover {
    .menu-principal__elem__content {
      .fa {
        color: lighten($color, 20%);
        text-shadow: 0 0 10px $color;
      }
    }
  }
}


.layout__menu-principal {
  background: $negro2;
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  width: $ancho-menu-movil;
  z-index: 4;

  .menu-principal__elem {
    &:nth-child(1n) {@include nth($celeste-vivo) }
    &:nth-child(2n) {@include nth($cyan-vivo) }
    &:nth-child(3n) {@include nth($turquesa-vivo) }
    &:nth-child(4n) {@include nth($verde-vivo) }
    &:nth-child(5n) {@include nth($kiwi-vivo) }
    &:nth-child(6n) {@include nth($verde-vivo) }
    &:nth-child(7n) {@include nth($ambar-vivo) }
    &:nth-child(8n) {@include nth($amarillo-vivo) }
    &:nth-child(9n) {@include nth($naranja-vivo) }
    &:nth-child(10n) {@include nth($tomate-vivo) }
  }

  @media (min-width: $reflex-md ) {
    width: $ancho-menu;

    .menu-principal__elem {
      &:nth-child(1n) {@include nth($grisd) }
      &:nth-child(2n) {@include nth($grisd) }
      &:nth-child(3n) {@include nth($grisd) }
      &:nth-child(4n) {@include nth($grisd) }
      &:nth-child(5n) {@include nth($grisd) }
      &:nth-child(6n) {@include nth($grisd) }
      &:nth-child(7n) {@include nth($grisd) }
      &:nth-child(8n) {@include nth($grisd) }
      &:nth-child(9n) {@include nth($grisd) }
      &:nth-child(10n) {@include nth($grisd) }
    }

    &:hover > .menu-principal__elem {
      transition: all 1s;
      &:nth-child(1n) {@include nth($celeste-vivo) }
      &:nth-child(2n) {@include nth($cyan-vivo) }
      &:nth-child(3n) {@include nth($turquesa-vivo) }
      &:nth-child(4n) {@include nth($verde-vivo) }
      &:nth-child(5n) {@include nth($kiwi-vivo) }
      &:nth-child(6n) {@include nth($verde-vivo) }
      &:nth-child(7n) {@include nth($ambar-vivo) }
      &:nth-child(8n) {@include nth($amarillo-vivo) }
      &:nth-child(9n) {@include nth($naranja-vivo) }
      &:nth-child(10n) {@include nth($tomate-vivo) }
    }
  }


}

.layout__content {
  height: 100%;
  margin-left: $ancho-menu-movil;
  padding-top: 60px;
  @media (min-width: $reflex-md ) {
    margin-left: $ancho-menu;
  }
}

.layout__content__inner {
  @media (min-width: $reflex-md ) {
    padding: 1em 3em;
  }
}

.menu-principal__elem {
  @extend %sans;
  @extend .text--left;
  color: $grisc;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  .menu-principal__elem__content {
    padding: 1em 0;

    .fa {
      display: block;
      font-size: .8em;
      text-align: center;
      width: 100%;

      @media (min-width: $reflex-md ) {
        font-size: 2em;
      }
    }

    span {
      display: none;
      font-size: .7em;
      text-align: center;

      @media (min-width: $reflex-md ) {
        display: block;
      }
    }
  }
}

.menu-principal__elem--active {
  background: $grise;
  color: $negro4;

  &:hover {
    color: $negro2;
  }
}

.menu-principal__logo {
  padding: 1em 0;
  width: 70%;
}

.menu-principal__usuario__foto {
  border-radius: 64px;
  display: block;
  margin: 0 auto;
}

.menu-principal__usuario__nombre {
  @extend .text--center;
  @extend %serif;
  display: block;
  font-size: 12px;
}

.menu-principal__hijos__title {
  @extend .text--center;
  @extend .text--negro2;
  font-size: 1.3em;
}

.menu-principal__hijos {
  border-right: 3px solid $turquesa;
  cursor: default;
  display: none;
  height: 0;
  opacity: 0;
  transition: all .5s;
  z-index: 5;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.menu-principal__hijos--active {
  background: $grise;
  box-shadow: 3px 0 3px transparentize($gris6, .4);
  color: $negro4;
  display: block;
  height: 100%;
  left: $ancho-menu-movil;
  list-style: none;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: fixed;
  top: 0;
  width: 12em;

  @media (min-width: $reflex-md ) {
    left: $ancho-menu;
  }

  .menu-principal__elem__content > span {
    color: $negro2;
  }
}

.menu-principal__hijos--perfil {
  background: $blanco;
}

.menu-principal__hijos__elem {
  @extend %sans;
  @extend .text--left;
  background: inherit;
  cursor: pointer;
  padding: .5em 1em;

  &:hover {
    background: transparentize($verde, .8);
  }

  .fa {
    font-size: 1em;
  }

  span {
    display: inline;
  }
}

.menu-principal__hijos__elem--version {
  @extend %serif;
  color: $grisa;
  font-size: .8em;

  &:hover {
    background: transparent;
  }
}
