<div class="layout" ng-controller="NavCtrl as nav">
  <div class="layout__actions panel--invisible"></div>
  <nav class="layout__menu-principal panel--invisible" ng-if="!nav.mostrarMenu">
    <div class="menu-principal__elem menu-principal__elem--perfil"
    ng-class="{'menu-principal__elem--active menu-principal__hijos--perfil': nav.estirado == 'perfil'}"
    ng-click="nav.perfil()">
      <div class="menu-principal__elem__content">
        <i class="fa fa-fw fa-user" title="Perfíl"></i>
        <span>Perfíl</span>
      </div>
      <div class="menu-principal__hijos"
        ng-class="{'menu-principal__hijos--active menu-principal__hijos--perfil': nav.estirado === 'perfil'}">
        <img src="/recursos/imagenes/Ciris-color.png" alt="Logo" class="img-responsive img-center menu-principal__logo">
        <div class="menu-principal__usuario">
          <img ng-src="{{'data:image/jpeg;base64,' + nav.usuario.foto}}" alt="Foto {{nav.usuario.nombre}}" class="menu-principal__usuario__foto">
          <span class="menu-principal__usuario__nombre">{{nav.usuario.nombre}}</span>
        </div>
        <ul>
          <li class="menu-principal__hijos__elem" ng-click="nav.salir()">
            <i class="fa fa-fw fa-sign-out"></i>
            <span>Cerrar Sesión</span>
          </li>
          <li class="menu-principal__hijos__elem menu-principal__hijos__elem--version">
            <i class="fa fa-fw fa-tags"></i>
            <span>Versión: {{nav.version}}</span>
          </li>
          <li class="menu-principal__hijos__elem menu-principal__hijos__elem--version">
            <i class="fa fa-fw fa-cogs"></i>
            <span>API: {{nav.versionapi}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-principal__elem"
    ng-repeat="estado in nav.estados"
    ng-class="{'menu-principal__elem--active': nav.estirado === estado.name}"
    ng-click="nav.accionar(estado)">
      <div class="menu-principal__elem__content">
        <i class="fa fa-fw {{estado.data.icono}}" title="{{estado.data.titulo}}"></i>
        <span>{{estado.data.titulo}}</span>
      </div>
      <div class="menu-principal__hijos" ng-if="estado.hijos.length > 0"
        ng-class="{'menu-principal__hijos--active': nav.estirado == estado.name}">
        <h1 class="menu-principal__hijos__title" ng-bind="estado.data.titulo"></h1>
        <ul>
          <li class="menu-principal__hijos__elem"
            ng-repeat="hijo in estado.hijos"
            ui-sref="{{hijo.name}}"
            ui-sref-active="menu-principal__elem--active">
            <i class="fa fa-fw {{hijo.data.icono}}"></i>
            <span>{{hijo.data.titulo}}</span>
          </li>
        </ul>
      </ul>
    </div>
  </nav>
  <section class="layout__content">
    <div class="layout__content__inner">
      <ui-view></ui-view>
    </div>
  </section>
</div>
