<h1 class="h1 h1--titulo">Colores</h1>
<p class="h4">El sistema usa una serie de colores estándar para cualquier elemento.</p>
<p class="text">Si fuese necesario crear nuevos colores (por ejemplo, para usar los colores del cliente),
es necesario crear todos los elementos (botones, forms, tablas, etc) para mantener una consistencia
de apariencia en el software.</p>
<div class="grid grid--bleed">
  <div class="grid__col-sm-2">
    <p class="text text--bold text--lila">Lila</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--morado">Morado</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--indigo">Índigo</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--azul">Azul</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--celeste">Celeste</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--cyan">Cyan</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--turquesa">Turquesa</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--verde">Verde</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--kiwi">Kiwi</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--amarillo">Amarillo</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--ambar">Ambar</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--naranja">Naranja</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--tomate">Tomate</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--rojo">Rojo</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--rosado">Rosado</p>
  </div>
</div>
<h2 class="h2 subtitulo">Monocromas</h2>
<div class="grid grid--bleed">
  <div class="grid__col-sm-2">
    <p class="text text--bold text--negro">Negro</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--negro2">Negro2</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--negro4">Negro4</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--gris6">Gris6</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--gris8">Gris8</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--grisa">Grisa</p>
  </div>
  <div class="grid__col-sm-2">
    <p class="text text--bold text--grisc">Grisc</p>
  </div>
  <div class="grid__col-sm-2 fondo--negro2">
    <p class="text text--bold text--grisd">Grisd</p>
  </div>
  <div class="grid__col-sm-2 fondo--negro2">
    <p class="text text--bold text--grise">Grise</p>
  </div>
  <div class="grid__col-sm-2 fondo--negro2">
    <p class="text text--bold text--blanco">Blanco</p>
  </div>
</div>
<h2 class="h2 subtitulo">Fondos (Backgrounds)</h2>
<p class="text text--big">Los fondos se pueden aplicar a cualquier elemento.</p>
<p class="text">Lo único que cambian es el color del background. El color de la letra no se modifica.</p>
<p class="text">La clase es <code>fondo--&lt;color&gt;</code></p>
<div class="grid">
  <div class="grid__col-sm-2 fondo--negro">
    <p class="text">Negro</p>
  </div>
  <div class="grid__col-sm-2 fondo--negro2">
    <p class="text">Negro2</p>
  </div>
  <div class="grid__col-sm-2 fondo--negro4">
    <p class="text">Negro4</p>
  </div>
  <div class="grid__col-sm-2 fondo--gris6">
    <p class="text">Gris6</p>
  </div>
  <div class="grid__col-sm-2 fondo--gris8">
    <p class="text">Gris8</p>
  </div>
  <div class="grid__col-sm-2 fondo--grisa">
    <p class="text">Grisa</p>
  </div>
  <div class="grid__col-sm-2 fondo--grisc">
    <p class="text">Grisc</p>
  </div>
  <div class="grid__col-sm-2 fondo--grisd">
    <p class="text">Grisd</p>
  </div>
  <div class="grid__col-sm-2 fondo--grise">
    <p class="text">Grise</p>
  </div>
  <div class="grid__col-sm-2 fondo--blanco">
    <p class="text">Blanco</p>
  </div>
</div>
<div class="grid">
  <div class="grid__col-sm-2 fondo--lila">
    <p class="text">Lila</p>
  </div>
  <div class="grid__col-sm-2 fondo--morado">
    <p class="text">Morado</p>
  </div>
  <div class="grid__col-sm-2 fondo--indigo">
    <p class="text">Índigo</p>
  </div>
  <div class="grid__col-sm-2 fondo--azul">
    <p class="text">Azul</p>
  </div>
  <div class="grid__col-sm-2 fondo--celeste">
    <p class="text">Celeste</p>
  </div>
  <div class="grid__col-sm-2 fondo--cyan">
    <p class="text">Cyan</p>
  </div>
  <div class="grid__col-sm-2 fondo--turquesa">
    <p class="text">Turquesa</p>
  </div>
  <div class="grid__col-sm-2 fondo--verde">
    <p class="text">Verde</p>
  </div>
  <div class="grid__col-sm-2 fondo--kiwi">
    <p class="text">Kiwi</p>
  </div>
  <div class="grid__col-sm-2 fondo--amarillo">
    <p class="text">Amarillo</p>
  </div>
  <div class="grid__col-sm-2 fondo--ambar">
    <p class="text">Ambar</p>
  </div>
  <div class="grid__col-sm-2 fondo--naranja">
    <p class="text">Naranja</p>
  </div>
  <div class="grid__col-sm-2 fondo--tomate">
    <p class="text">Tomate</p>
  </div>
  <div class="grid__col-sm-2 fondo--rojo">
    <p class="text">Rojo</p>
  </div>
  <div class="grid__col-sm-2 fondo--rosado">
    <p class="text">Rosado</p>
  </div>
</div>
