<section>
  <p>
    Documentación: <a href="github.com/dwmkerr/angular-modal-service">github.com/dwmkerr/angular-modal-service</a>
  </p>
  <button class="boton boton--indigo" ng-click="mc.mostrar()">Mostrar Modal Regular</button>
  <button class="boton boton--verde" ng-click="mc.mostrar('modal--tema')">Mostrar Modal Tema</button>
</section>
