<section class="panel">
  <div class="panel__header">Notificaciones Toastr</div>
  <div class="panel__body">
    <h1>Documentación: <a href="https://github.com/Foxandxss/angular-toastr">https://github.com/Foxandxss/angular-toastr</a></h1>
    <pre class="javascript">
      <code>
        function controlador( toastr ) {
          var dc = this;
          dc.mostrar = mostrar;

          function mostrar( ) {
            toastr.success( "Esto es una notificación de éxito", "Título de éxito" );
            toastr.info( "Esto es una notificación informativa", "Título informativo" );
            toastr.warning( "Esto es una notificación de advertencia", "Título de advertencia" );
            toastr.error( "Esto es una notificación de error", "Título de error" );
          }
        }
      </code>
    </pre>
    <div class="grid">
      <div class="grid__col-auto">
        <button class="boton boton--verde"
        ng-click="dc.mostrar('success')">
          Éxito
        </button>
      </div>
      <div class="grid__col-auto">
        <button class="boton boton--morado"
        ng-click="dc.mostrar('info')">
          Informativa
        </button>
      </div>
      <div class="grid__col-auto">
        <button class="boton boton--ambar"
        ng-click="dc.mostrar('warning')">
          Advertencia
        </button>
      </div>
      <div class="grid__col-auto">
        <button class="boton boton--rojo"
        ng-click="dc.mostrar('error')">
          Error
        </button>
      </div>
    </div>
  </div>
</section>
