<section>
  <h1 class="h1">Páneles</h1>
  <div class="panel">
    <p class="text">Esto es un panel. Se puede hacer usando la clase <code>panel</code> sobre cualquier elemento</p>
  </div>
  <p class="text text--big">Los páneles sólo deben usarse para desplegar elementos que deban llamar la atención.</p>
  <h2 class="h2">Los páneles también pueden tener colores</h2>
  <div class="grid">
    <div class="grid__col-sm-auto">
      <div class="panel panel--lila">
        <p class="text">Esto es un panel</p>
      </div>
    </div>
    <div class="grid__col-sm-auto">
      <div class="panel panel--azul">
        <p class="text">Esto es un panel</p>
      </div>
    </div>
    <div class="grid__col-sm-auto">
      <div class="panel panel--cyan">
        <p class="text">Esto es un panel</p>
      </div>
    </div>
    <div class="grid__col-sm-auto">
      <div class="panel panel--verde">
        <p class="text">Esto es un panel</p>
      </div>
    </div>
    <div class="grid__col-sm-auto">
      <div class="panel panel--ambar">
        <p class="text">Esto es un panel</p>
      </div>
    </div>
    <div class="grid__col-sm-auto">
      <div class="panel panel--tomate">
        <p class="text">Esto es un panel</p>
      </div>
    </div>
  </div>
</section>
