<!DOCTYPE html>
<html lang="es">
<head>
  <base href="/">
  <title cis-titulo>Ciris Informatic Solutions</title>
  <meta charset="utf-8">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="es">
  <meta name="country" content="Costa Rica">
  <meta name="Robots" content="index,follow">
  <meta name="author" content="Ciris Informatic Solutions">
  <meta name="revised" content="Ciris Informatic Solutions, 07/06/2017" />

  <link rel="shortcut icon" href="recursos/imagenes/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="recursos/css/font-awesome.min.css" media="all">
  <link rel="stylesheet" type="text/css" href="estilos.css?version={{version}}" media="screen">
  <link rel="stylesheet" type="text/css" href="estilos-print.css?version={{version}}" media="print">


</head>

<body ng-controller="BodyCtrl as body" id="page-top">
  <main ui-view id="main">
    <div class="splash-screen">
      <div class="splash-screen__window">
        <hr class="splash-screen__hr">
        <h1 class="splash-screen__texto splash-screen__texto--titulo">Cargando la aplicación</h1>
        <div class="splash-screen__icono">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        </div>
        <h3 class="splash-screen__texto splash-screen__texto--titulo">Por favor espere</h3>
        <p class="splash-screen__texto">
          <small>
          <img src="recursos/imagenes/favicon.png" alt="Ciris">
          <span>Ciris Informatic Solutions</span>
          </small>
        </p>
        <hr class="splash-screen__hr">
      </div>
    </div>
  </main>
  <script type="text/javascript" src="vendor.js?version={{version}}"></script>
  <script type="text/javascript" src="app.js?version={{version}}"></script>
  <script type="text/javascript" src="constantes.js?version={{version}}"></script>
  <script type="text/javascript" src="plantillas.js?version={{version}}"></script>
</body>

</html>
