.login {
  align-items: center;
  background: url("recursos/imagenes/fondo.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
}

.login__body {
  padding: 15px 0;
  width: 90%;
}

.login__label {
  font-size: 90%;
  font-weight: bolder;
}

.login__boton {
  margin-top: 15px;
  width: 96%;
}

@media (min-width: 992px) {
  .login__body {
    height: 320px;
    padding: 15px 0;
    width: 45%;
  }

  .login__label {
    font-size: 90%;
    font-weight: bolder;
    justify-content: flex-end;
    text-align: right;
  }
}

.login__input {
  background: transparent;
  color: $blanco;
}
