.ng-typeahead {
  position: relative;

  .fa-search {
    color: $grisa;
    position: absolute;
    right: 0;
    top: 10px;
  }
}

.ng-typeahead-wrapper {
  position: relative;
  width: 100%;
}

.ng-typeahead-list {
  background: $blanco;
  border-bottom: 1px solid $gris8;
  border-left: 1px solid $gris8;
  border-right: 1px solid $gris8;
  border-top: $verde 2px solid;
  list-style: none;
  margin-top: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 999;

  &::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $verde;
    content: "";
    display: block;
    height: 0;
    left: 10px;
    position: absolute;
    width: 0;
  }
}

.ng-typeahead-list-item {
  padding: 6px 15px;
}

.active {
  background: $verde;
  color: $blanco;
}

.ng-typeahead-highlight {
  color: $verde-opaco;
}
