<div class="ng-typeahead">
  <input ng-model="search" placeholder="{{placeholder}}" ng-keydown="$onKeyDown($event)" name="{{name}}" ng-model-options="{ debounce: delay }" ng-blur="$onBlur()" class="form__input" ng-disabled="ngDisabled" ng-required="ngRequired" autocomplete="off"/>
  <i class="fa fa-fw fa-search"></i>
  <div class="ng-typeahead-wrapper">
    <ul class="ng-typeahead-list" ng-show="showSuggestions">
      <li class="ng-typeahead-list-item" ng-repeat="item in data | filter:search |limitTo: limit | highlight:search" ng-mousedown="$onSelect(item)" ng-class="{'active': $index == index}" ng-bind-html="item.html">
      </li>
    </ul>
    <label class="form__error-message" ng-show="noResults">
      <i class="fa fa-fw fa-times"></i>Sin resultados
    </label>
  </div>
  <div ng-transclude>
</div>
