<section class="login">
  <form ng-submit="vm.ingresar(loginForm, vm.usuario)" name="loginForm" novalidate>
    <div class="text--center">
      <img src="/recursos/imagenes/Ciris-color.png" alt="Ciris Logo" class="img--responsive">
    </div>
    <div class="form__group" ng-class="{ 'form__group--error': loginForm.usuario.$invalid && (loginForm.usuario.$dirty || loginForm.$submitted) }">
      <label for="usuario" class="form__label">Usuario:</label>
      <div class="form__input-group">
        <span class="form__input-group__addon"><i class="fa fa-fw fa-user"></i></span>
        <input name="usuario" id="usuario" type="text" class="form__input login__input" ng-required="true" ng-model="vm.usuario.login" placeholder="usuario@dominio.com">
      </div>
    </div>
    <div class="form__group" ng-class="{ 'form__group--error': loginForm.password.$invalid && (loginForm.password.$dirty || loginForm.$submitted) }">
      <label for="password" class="form__label">Contraseña:</label>
      <div class="form__input-group">
        <span class="form__input-group__addon"><i class="fa fa-fw fa-lock"></i></span>
        <input name="password" id="password" type="password" class="form__input login__input" ng-required="true" ng-model="vm.usuario.password" placeholder="********">
      </div>
    </div>
    <div class="form__group">
      <label for="recordar" class="form__label">Recordarme:</label>
      <div class="switch switch--naranja grid__col-md-9">
        <input type="checkbox" id="recordar" name="recordar" ng-model="vm.usuario.recordar">
        <label class="form__label" for="recordar"></label>
      </div>
    </div>
    <div class="text--center">
      <button class="boton boton--naranja-o" type="submit">
        <i class="fa fa-fw fa-sign-in"></i>
        Iniciar sesión
      </button>
    </div>
  </form>
</section>
