@mixin boton-expecial($tipo, $color-icono, $icono, $animacion-icono, $texto) {
  @extend #{$tipo};

  &::before {
    @extend %font-awesome;
    color: $color-icono;
    content: $icono;
    display: inline-block;
    text-shadow: 0 1px 1px $sombra1;
  }

  &:hover {
    &::before {
      @extend .animated;
      @extend #{$animacion-icono};
      @extend .infinite;
    }
  }

  &::after {
    @extend .text--bold;
    display: inline-block;
  }

  @media(min-width: $reflex-md) {
    &::after {
      content: $texto;
      padding-left: .5em;
    }
  }
}

.boton--guardar {
  @include boton-expecial(".boton--verde", $kiwi-vivo, "\f019", ".flip", "Guardar");
}

.boton--cancelar {
  @include boton-expecial(".boton--negro4", $rosado-vivo, "\f05e", ".rubberBand", "Cancelar");
}

.boton--nuevo {
  @include boton-expecial(".boton--negro4", $verde-vivo, "\f15b", ".flipInX", "Nuevo");
}

.boton--eliminar {
  @include boton-expecial(".boton--rojo", $rojo-pastel, "\f1f8", ".swing", "Eliminar");
}

.boton--editar {
  @include boton-expecial(".boton--azul", $azul-opaco, "\f040", ".tada", "Editar");
}

.boton--buscar {
  @include boton-expecial(".boton--naranja", $amarillo-vivo, "\f002", ".pulse", "Buscar");
}

.boton--excel {
  @include boton-expecial(".boton--verde", $verde-vivo, "\f1c3", ".pulse", "Exportar a Excel");
  background: $excel;
}


.boton--siguiente {
  @include boton-expecial(".boton--negro4", $cyan-vivo, "\f061", "", "Siguiente");
}

.boton--anterior {
  @include boton-expecial(".boton--negro4", $cyan-vivo, "\f060", "", "Anterior");
}

.boton--volver {
  @extend .boton--s;
  @include boton-expecial(".boton--negro4", $cyan-vivo, "\f112", "", "Volver");
}
