@mixin titular {
  @extend .h1;
  @extend .text--uppercase;
  @extend .text--justify;
  align-items: center;
  display: flex;
  position: relative;
}

.titulo {
  @include titular;

  &::after {
    border-bottom: 2px solid $indigo-vivo;
    content: "";
    flex-grow: 1;
    height: .3em;
    margin-left: .5em;
    width: 1.5em;
  }
}

.subtitulo {
  @extend .h2;
  @extend .text--uppercase;
  @extend .text--justify;
  @extend .text--indigo;
}

.subtitulo-terciario {
  @extend .h3;
  @extend .text--justify;
  @extend .text--azul;
}
