.switch {
  margin: 4px 0;

  input {
    @extend %switchcheck;

    &:checked + label {
      &::before {
        background: $negro4;
        box-shadow: 0 0 4px 0 $cyan-opaco;
        color: $cyan-opaco;
      }

      &::after {
        @extend .animated;
        @extend .swing;
        animation-delay: 0s !important;
        content: "\f058";
        left: 36px;
      }
    }
  }

  label {
    color: $negro4;
    cursor: pointer;
    padding-left: 70px;
    position: relative;

    &::before {
      background: $gris8;
      border-radius: 15px;
      content: "";
      height: 2em;
      left: 0;
      position: absolute;
      top: -2px;
      width: 60px;
    }

    &::after {
      @extend %font-awesome;
      color: $blanco;
      content: "\f111";
      font-size: 25px;
      left: 1px;
      position: absolute;
      top: -2px;
      transition: all .5s;
    }
  }
}

@mixin switch--color($color) {
  input {
    &:checked + label {
      &::before {
        background: $color;
        box-shadow: 0 0 4px 0 lighten($color, 10%);
        color: $color;
      }
    }
  }
}

.switch--lila {
  @include switch--color($lila);
}

.switch--morado {
  @include switch--color($morado);
}

.switch--indigo {
  @include switch--color($indigo);
}

.switch--azul {
  @include switch--color($azul);
}

.switch--celeste {
  @include switch--color($celeste);
}

.switch--cyan {
  @include switch--color($cyan);
}

.switch--turquesa {
  @include switch--color($turquesa);
}

.switch--verde {
  @include switch--color($verde);
}

.switch--kiwi {
  @include switch--color($kiwi);
}

.switch--lima {
  @include switch--color($lima);
}

.switch--amarillo {
  @include switch--color($amarillo);
}

.switch--ambar {
  @include switch--color($ambar);
}

.switch--naranja {
  @include switch--color($naranja);
}

.switch--tomate {
  @include switch--color($tomate);
}

.switch--rojo {
  @include switch--color($rojo);
}

.switch--rosado {
  @include switch--color($rosado);
}
