<div class="panel">
  <div class="panel__header panel__header--subpanel">
    Contenedores
  </div>
  <div class="grid">
    <div class="grid__col-md-12">
      <table class="tabla">
        <tbody class="tabla__body tabla__body--bordered">
          <tr>
            <th></th>
            <th class="text--left">Ver</th>
            <th class="text--left">Editar</th>
            <th class="text--left">Crear</th>
            <th class="text--left">Eliminar</th>
          </tr>
          <tr>
            <th class="text--left">Creación</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="creacionContenedorVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.creacion.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.contenedores.creacion)">
                <label class="form__label" for="creacionContenedorVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="creacionContenedorEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.creacion.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.contenedores.creacion, 'editar')">
                <label class="form__label" for="creacionContenedorEditar"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="creacionContenedorCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.creacion.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.contenedores.creacion, 'crear')">
                <label class="form__label" for="creacionContenedorCrear"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="creacionContenedorEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.creacion.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.contenedores.creacion, 'eliminar')">
                <label class="form__label" for="creacionContenedorEliminar"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text--left">Entrada</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="entradaContenedorVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.entrada.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.contenedores.entrada)">
                <label class="form__label" for="entradaContenedorVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="entradaContenedorEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.entrada.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.contenedores.entrada, 'editar')">
                <label class="form__label" for="entradaContenedorEditar"></label>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th class="text--left">Despacho</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="despachoContenedorVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.despacho.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.contenedores.despacho)">
                <label class="form__label" for="despachoContenedorVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="despachoContenedorEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.despacho.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.contenedores.despacho, 'editar')">
                <label class="form__label" for="despachoContenedorEditar"></label>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th class="text--left">Entrega</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="entregaContenedorVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.entrega.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.contenedores.entrega)">
                <label class="form__label" for="entregaContenedorVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="entregaContenedorEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.contenedores.entrega.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.contenedores.entrega, 'editar')">
                <label class="form__label" for="entregaContenedorEditar"></label>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
