<div class="panel">
  <div class="panel__header panel__header--subpanel">
    Operaciones
  </div>
  <div ng-include="'admin/views/permisos/verduras/zanahorias.html'"></div>
  <div ng-include="'admin/views/permisos/verduras/repollos.html'"></div>
  <div ng-include="'admin/views/permisos/verduras/brocolis.html'"></div>
  <div ng-include="'admin/views/permisos/verduras/remolachas.html'"></div>
  <div ng-include="'admin/views/permisos/verduras/otros.html'"></div>
</div>
