<div class="panel">
  <div class="panel__header panel__header--subpanel">
    Pago a Proveedores
  </div>
  <div class="grid">
    <div class="grid__col-md-12">
      <table class="tabla">
        <tbody class="tabla__body tabla__body--bordered">
          <tr>
            <th></th>
            <th class="text--left">Ver</th>
            <th class="text--left">Editar</th>
          </tr>
          <tr>
            <th class="text--left">Pagos pendientes</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="pagoPendienteVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.pagoProveedores.pendiente.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.pagoProveedores.pendiente)">
                <label class="form__label" for="pagoPendienteVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="pagoPendienteEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.pagoProveedores.pendiente.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.pagoProveedores.pendiente, 'editar')">
                <label class="form__label" for="pagoPendienteEditar"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text--left">Pagos parciales</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="pagoParcialVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.pagoProveedores.parcial.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.pagoProveedores.parcial)">
                <label class="form__label" for="pagoParcialVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="pagoParcialEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.pagoProveedores.parcial.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.pagoProveedores.parcial, 'editar')">
                <label class="form__label" for="pagoParcialEditar"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text--left">Aplicación de pagos</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="aplicacionPagoVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.pagoProveedores.aplicacion.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.pagoProveedores.aplicacion)">
                <label class="form__label" for="aplicacionPagoVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="aplicacionPagoEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.pagoProveedores.aplicacion.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.pagoProveedores.aplicacion, 'editar')">
                <label class="form__label" for="aplicacionPagoEditar"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text--left">Reportes de pagos aplicados</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="reportePagoVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.pagoProveedores.resumen.ver">
                <label class="form__label" for="reportePagoVer"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
