<div class="panel">
  <div class="panel__header panel__header--subpanel">
    Reportes
  </div>
  <div class="grid">
    <div class="grid__col-md-12">
      <table class="tabla">
        <tbody class="tabla__body tabla__body--bordered">
          <tr>
            <th></th>
            <th class="text--left">Ver</th>
          </tr>
          <tr>
            <th class="text--left">Cámaras</th>
            <td class="td-fijo">
              <div class="checkbox">
                <input type="checkbox" id="repCamaraVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.reportes.camaras.ver">
                <label class="form__label" for="repCamaraVer"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text--left">SOLAS</th>
            <td class="td-fijo">
              <div class="checkbox">
                <input type="checkbox" id="repContenedorVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.reportes.solas.ver">
                <label class="form__label" for="repContenedorVer"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text--left">Trazabilidad</th>
            <td class="td-fijo">
              <div class="checkbox">
                <input type="checkbox" id="repLoteVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.reportes.trazabilidad.ver">
                <label class="form__label" for="repLoteVer"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
