<div class="grid">
  <div class="grid__col-md-12">
    <table class="tabla">
      <tbody class="tabla__body tabla__body--bordered">
        <tr>
          <th>
            <h6 class="h6 text--left">Brócolis</h6>
          </th>
          <th class="text--left">Ver</th>
          <th class="text--left">Editar</th>
          <th class="text--left">Crear</th>
          <th class="text--left">Eliminar</th>
        </tr>
        <tr>
          <th class="text--left">Entrada (Creación)</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaBrocoliVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.brocolis.entrada.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.brocolis.entrada)">
              <label class="form__label" for="entradaBrocoliVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaBrocoliEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.brocolis.entrada.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.brocolis.entrada, 'editar')">
              <label class="form__label" for="entradaBrocoliEditar"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaBrocoliCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.brocolis.entrada.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.brocolis.entrada, 'crear')">
              <label class="form__label" for="entradaBrocoliCrear"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaBrocoliEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.brocolis.entrada.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.brocolis.entrada, 'eliminar')">
              <label class="form__label" for="entradaBrocoliEliminar"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text--left">Selección</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="seleccionBrocoliVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.brocolis.seleccion.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.brocolis.seleccion)">
              <label class="form__label" for="seleccionBrocoliVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="seleccionBrocoliEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.brocolis.seleccion.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.brocolis.seleccion, 'editar')">
              <label class="form__label" for="seleccionBrocoliEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="text--left">Empaque</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaqueBrocoliVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.brocolis.empaque.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.brocolis.empaque)">
              <label class="form__label" for="empaqueBrocoliVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaqueBrocoliEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.brocolis.empaque.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.brocolis.empaque, 'editar')">
              <label class="form__label" for="empaqueBrocoliEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
