<div class="grid">
  <div class="grid__col-md-12">
    <table class="tabla">
      <tbody class="tabla__body tabla__body--bordered">
        <tr>
          <th>
            <h6 class="h6 text--left">Otros</h6>
          </th>
          <th class="text--left">Ver</th>
          <th class="text--left">Editar</th>
          <th class="text--left">Crear</th>
          <th class="text--left">Eliminar</th>
        </tr>
        <tr>
          <th class="text--left">Entrada (Creación)</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaOtroVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.otros.entrada.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.otros.entrada)">
              <label class="form__label" for="entradaOtroVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaOtroEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.otros.entrada.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.otros.entrada, 'editar')">
              <label class="form__label" for="entradaOtroEditar"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaOtroCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.otros.entrada.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.otros.entrada, 'crear')">
              <label class="form__label" for="entradaOtroCrear"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaOtroEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.otros.entrada.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.otros.entrada, 'eliminar')">
              <label class="form__label" for="entradaOtroEliminar"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text--left">Selección</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="selecciondOtroVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.otros.seleccion.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.otros.seleccion)">
              <label class="form__label" for="selecciondOtroVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="selecciondOtroEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.otros.seleccion.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.otros.seleccion, 'editar')">
              <label class="form__label" for="selecciondOtroEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="text--left">Empaque</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaqueOtroVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.otros.empaque.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.otros.empaque)">
              <label class="form__label" for="empaqueOtroVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaqueOtroEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.otros.empaque.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.otros.empaque, 'editar')">
              <label class="form__label" for="empaqueOtroEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
