<div class="grid">
  <div class="grid__col-md-12">
    <table class="tabla">
      <tbody class="tabla__body tabla__body--bordered">
        <tr>
          <th>
            <h6 class="h6 text--left">Remolachas</h6>
          </th>
          <th class="text--left">Ver</th>
          <th class="text--left">Editar</th>
          <th class="text--left">Crear</th>
          <th class="text--left">Eliminar</th>
        </tr>
        <tr>
          <th class="text--left">Entrada (Creación)</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaRemolachaVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.remolachas.entrada.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.remolachas.entrada)">
              <label class="form__label" for="entradaRemolachaVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaRemolachaEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.remolachas.entrada.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.remolachas.entrada, 'editar')">
              <label class="form__label" for="entradaRemolachaEditar"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaRemolachaCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.remolachas.entrada.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.remolachas.entrada, 'crear')">
              <label class="form__label" for="entradaRemolachaCrear"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaRemolachaEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.remolachas.entrada.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.remolachas.entrada, 'eliminar')">
              <label class="form__label" for="entradaRemolachaEliminar"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text--left">Selección</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="selecciondRemolachaVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.remolachas.seleccion.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.remolachas.seleccion)">
              <label class="form__label" for="selecciondRemolachaVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="selecciondRemolachaEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.remolachas.seleccion.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.remolachas.seleccion, 'editar')">
              <label class="form__label" for="selecciondRemolachaEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="text--left">Empaque</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaquedRemolachaVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.remolachas.empaque.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.remolachas.empaque)">
              <label class="form__label" for="empaquedRemolachaVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaquedRemolachaEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.remolachas.empaque.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.remolachas.empaque, 'editar')">
              <label class="form__label" for="empaquedRemolachaEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
