<div class="grid">
  <div class="grid__col-md-12">
    <table class="tabla">
      <tbody class="tabla__body tabla__body--bordered">
        <tr>
          <th>
            <h6 class="h6 text--left">Zanahorias</h6>
          </th>
          <th class="text--left">Ver</th>
          <th class="text--left">Editar</th>
          <th class="text--left">Crear</th>
          <th class="text--left">Eliminar</th>
        </tr>
        <tr>
          <th class="text--left">Entrada (Creación)</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaZanahoriaVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.entrada.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.zanahorias.entrada)">
              <label class="form__label" for="entradaZanahoriaVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaZanahoriaEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.entrada.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.zanahorias.entrada, 'editar')">
              <label class="form__label" for="entradaZanahoriaEditar"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaZanahoriaCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.entrada.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.zanahorias.entrada, 'crear')">
              <label class="form__label" for="entradaZanahoriaCrear"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradaZanahoriaEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.entrada.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.zanahorias.entrada, 'eliminar')">
              <label class="form__label" for="entradaZanahoriaEliminar"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text--left">Selección</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="seleccionZanahoriaVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.seleccion.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.zanahorias.seleccion)">
              <label class="form__label" for="seleccionZanahoriaVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="seleccionZanahoriaEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.seleccion.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.zanahorias.seleccion, 'editar')">
              <label class="form__label" for="seleccionZanahoriaEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="text--left">Cámara</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="camaraZanahoriaVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.entradaCamara.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.zanahorias.entradaCamara)">
              <label class="form__label" for="camaraZanahoriaVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="camaraZanahoriaEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.entradaCamara.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.zanahorias.entradaCamara, 'editar')">
              <label class="form__label" for="camaraZanahoriaEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="text--left">Empaque</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaqueZanahoriaVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.empaque.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.zanahorias.empaque)">
              <label class="form__label" for="empaqueZanahoriaVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaqueZanahoriaEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.zanahorias.empaque.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.zanahorias.empaque, 'editar')">
              <label class="form__label" for="empaqueZanahoriaEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
