<div class="panel">
  <div class="panel__options">
    <a ui-sref="^.rol-uno" class="boton boton--naranja panel__options__elem"><i class="fa fa-fw fa-file"></i> Nuevo Rol</a>
  </div>
  <div class="panel__body" ng-if="vm.listado.contador === 0">
    <p class="no-results">
      <i class="fa fa-fw fa-list"></i>
      <span>No hay Roles registrados.</span>
    </p>
  </div>
  <div class="table-responsive" ng-if="vm.listado.contador > 0">
    <table class="tabla">
      <thead class="tabla__header text--left">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th ng-if="rol.nombre != 'Administrador'">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="tabla__body tabla--clickable">
        <tr ng-repeat="rol in vm.listado.docs track by $index" ng-class="{'deshabilitado': rol.nombre === 'Administrador'}">
          <td ng-bind="$index + 1" ui-sref="^.rol-uno({id: rol._id})"></td>
          <td ng-bind="rol.nombre" ui-sref="^.rol-uno({id: rol._id})"></td>
          <td ng-bind="rol.descripcion" ui-sref="^.rol-uno({id: rol._id})"></td>
          <td ng-if="rol.nombre != 'Administrador'">
            <ul class="tabla__opciones">
              <li class="tabla__opciones__elem" tooltip="Editar" ui-sref="^.rol-uno({id: rol._id, editar: true})"><i class="text--cyan fa fa-fw fa-edit"></i></li>
              <li class="tabla__opciones__elem" tooltip="Eliminar" ng-click="vm.eliminar(rol)"><i class="text--tomate fa fa-fw fa-trash"></i></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
